@-webkit-keyframes charging-1 {
	20%,100% {
		opacity: 1;
	}
}
@keyframes charging-1 {
	20%,100% {
		opacity: 1;
	}
}
@-webkit-keyframes charging-2 {
	0%,20% {
		opacity: 0;
	}
	40%,100% {
		opacity: 1;
	}
}
@keyframes charging-2 {
	0%,20% {
		opacity: 0;
	}
	40%,100% {
		opacity: 1;
	}
}
@-webkit-keyframes charging-3 {
	0%,40% {
		opacity: 0;
	}
	60%,100% {
		opacity: 1;
	}
}
@keyframes charging-3 {
	0%,40% {
		opacity: 0;
	}
	60%,100% {
		opacity: 1;
	}
}
@-webkit-keyframes charging-4 {
	0%,60% {
		opacity: 0;
	}
	80%,100% {
		opacity: 1;
	}
}
@keyframes charging-4 {
	0%,60% {
		opacity: 0;
	}
	80%,100% {
		opacity: 1;
	}
}
@-webkit-keyframes charging-5 {
	0%,80% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes charging-5 {
	0%,80% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.outer {
	border: 2px solid #333;
	width: 90px;
	height: 42px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 3px;
	border-radius: 5px;
	// position: relative;
    position: absolute;
    z-index: 9;
    transform: translate(-50%,-100%);
	top: 42vh;
    background: #fff;
    left: 47vw;
	@media screen and (max-width:766px) {
		left: 40vw;
		top: 50vh;
	}
	&:after {
		display: block;
		position: absolute;
		top: 5px;
		left: 87px;
		z-index: -1;
		content: "";
		width: 4px;
		height: 30px;
		background: #333;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
	}
}
.inner {
	background-color: $green;
	height: 100%;
	opacity: 0;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-animation: charging-1 4s infinite;
	animation: charging-1 4s infinite;
	border-radius: 2px;
	&:nth-child(2) {
		margin: 0 3px;
		-webkit-animation: charging-2 4s infinite ease-in-out;
		animation: charging-2 4s infinite ease-in-out;
	}
	&:nth-child(3) {
		-webkit-animation: charging-3 4s infinite;
		animation: charging-3 4s infinite;
	}
	&:nth-child(4) {
		margin: 0 0 0 3px;
		-webkit-animation: charging-4 4s infinite;
		animation: charging-4 4s infinite;
	}
	&:nth-child(5) {
		margin: 0 0 0 3px;
		-webkit-animation: charging-5 4s infinite;
		animation: charging-5 4s infinite;
	}
}
.flash {
	color: $yellow;
    position: absolute;
    top: 9%;
    left: 44%;
    z-index: 9;
    font-size: 20px;
}
.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	-webkit-animation-duration: .8s;
	animation-duration: .8s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}