.data {
    .bg {
        position: absolute;
        inset: 0;
        width: 100%;
        height: auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .divisi {
        .round {
            width: 160px;
            margin: 8px auto;
            display: block;
            height: 160px;
            border-radius: 50%;
            background: linear-gradient(45deg, #ccc, #fff);
            padding: 24px;
            border: 4px solid $biru_pln;
            @media screen and (max-width:766px) {
                // margin: initial;
                display: inline-block;
                vertical-align: middle;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .all {
            text-align: center;
            @media screen and (max-width:766px) {
                display: inline-block;
                width: 45%;
                margin-left: 12px;
                text-align: left;
                vertical-align: middle;
            }
            .judul {
                color: $yellow;
                font-size: 1rem;
                width: fit-content;
                margin: 0 auto;
                padding: 0 8px;
                background: $pln;
                @media screen and (max-width:766px) {
                    margin: 0;
                }
            }
            .big {
                font-size: 2rem;
                font-weight: 700;
                color: $pln;
                @media screen and (max-width:766px) {
                    font-size: 1.8rem;
                }
            }
            .medium {
                font-size: 1rem;
            }
        }
    }

    @keyframes up {
        0%, 100% {
          top: 0;
        }
        50% {
          top: -10px;
        }
      }
    .total {
        animation: up 1s linear infinite;;
        // background: white;
        position: relative;
        top: 0;
        width: fit-content;
        padding: 8px;
        text-shadow: 1px 1px black;
        color: $biru_pln;
        h3 {
            font-size: 3rem;
        }
    }

    @keyframes gerak {
        0%, 100% {
          left: 0;
        }
        50% {
          left: -5px;
        }
      }
    .lokasi {
        .img {
            position: relative;
            left: 0;
            width: 35vw;
            animation: gerak 2s linear infinite;
            height: fit-content;
            @media screen and (max-width:766px) {
                width: 100%;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    .data-pom {
        .cards{
            // width: fit-content;
            width: 100%;
            // border: 1px solid;
            padding: 8px;
            margin: 8px 0;
            position: relative;
            z-index: 8;
            border-radius: 8px;
            // backdrop-filter: blur(5px);
            background: rgba($color: $biru_pln, $alpha: .9);
            .pulau {
                font-size: 1rem;
                color: $white;
            }
            .jml {
                color: $white;
                font-weight: 700;
                font-size: 2.2rem;
                small {
                    font-size: 1rem;
                }
                &::after {
                    content: "";
                    font-size: 1rem;
                    font-weight: 300;
                    position: absolute;
                    top: 50%;
                    margin-left: 8px;
                }
            }
        }
    }
}

.baterai {
    position: relative;
    .imgs {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        .car {
            width: 50vw;
            height: 120vh;
            position: absolute;
            bottom: -5vh;
            right: -8vw;
            @media screen and (max-width:766px) {
                width: 60vw;
                height: 120vh;
                position: absolute;
                bottom: -5vh;
                right: 1vw;
            }
        
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .pom {
            width: 59vw;
            height: 120vh;
            position: absolute;
            top: -15vh;
            right: -4vw;
            z-index: 9;
            @media screen and (max-width:766px) {
                width: 100vw;
                height: 120vh;
                position: absolute;
                top: -15vh;
                right: -4vw;
                z-index: 9;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

        }
    }
    .bgx {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .brush-top{
        position:absolute;
        top:0px; 
        left:0;
        width:100%;
      }
      
      .brush-bottom{
        position:absolute;
        bottom:0px; 
        left:0;
        width:100%;
      }
    .hero{
        position:relative;
        background:  url('https://akcdn.detik.net.id/community/media/visual/2023/04/18/ilustrasi-lokasi-spklu-1.jpeg?w=720');
        background-repeat:no-repeat !important;
        background-position: center left;
        background-size: cover !important;
        height: 420px;
        @media screen and (max-width:766px) {
            height:240px;
            
        }
      }
      .img-mobil {
        left: initial;
        right: -6%;
        width: auto;
        height: 50%;
        position: absolute;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        // z-index: 3;
      }
      .img-selang {
        width: auto;
        position: absolute;
        right: 1vw;
        height: 50vh;
        bottom: -76vh;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        
      } 
      }
      .img-pom{
        width: auto;
        position: absolute;
        right: 27%;
        height: 70vh;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
      }

    .img-wash {
        position: sticky;
        bottom: 0;
        // left: 0;
        right: 0;
        top: 72px;
        height: 100%;
        width: 100%;
        .taman {
            position: absolute;
            width: 100vw;
            height: 100vh;
            z-index: -1;
            right: 0;
            left: 0;
            display: block;
            @media screen and (max-width:766px) {
                // display: none;
            }
            &::before {
                content: "";
                position: absolute;
                inset: 0;
                height: 100%;
                background: linear-gradient(to bottom, $blue,rgba($blue, .5), $blue);
            }
            img {
                width: 100%;
            height: 100%;
            object-fit: cover;
            }
        }
        .test {
            width: 40%;
            height: 100vh;
            position: absolute;
            right: 0;
            @media screen and (max-width:766px) {
                width: 100%;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        @media screen and (max-width:766px) {
            width: 100%;
        }
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            // background: linear-gradient(to top, $blue, transparent, $blue);
        }
        // img {
        //     width: 100%;
        //     height: 100%;
        //     object-fit: cover;
        //     @media screen and (max-width:766px) {
        //         object-fit: contain;
        //     }
        // }
    }
    .img {
        width: 100%;
        // height: fit-content;
        height: 360px;
        border: 8px solid $white;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.promo {
    .img {
        width: 100%;
        height: 420px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.h10 {
    height: 70vh;
}