.perbandingan {
    // background-image: url('../img/as.png');
    .k {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(to top, $blue, rgba($blue,.2),$blue);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

        }
    }
    .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 40%;
        height: auto;
        @media screen and (max-width:766px) {
            width: 100%;
        }
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(to right, $blue, rgba($blue,.2),$blue);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;

        }
    }
    h4 {
        font-weight: 700;
        font-size: 2rem;
        position: absolute;
        top: -32px;
        // z-index: 5;
        font-style: italic;
        margin-bottom: 0;
        text-shadow: 1px 1px white;
        margin-left: 24px;
        color: #12726c;
        @media screen and (max-width:766px) {
            font-size: 2rem;
            position: absolute;
            top: -30px;
        
        }
        // text-transform: uppercase;
    }
    .ev {
        .img {
            position: absolute;
            right: -18%;
            width: 200px;
            height: auto;
            bottom: 0;
            @media screen and (max-width:766px) {
                right: -36%;
                bottom: 0;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    .ice {
        .img {
            position: absolute;
            left: -20%;
            width: 200px;
            height: auto;
            bottom: 0;
            @media screen and (max-width:766px) {
                left: -36%;
                bottom: 0;
                width:175px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    .boxz {
        background: white;
        padding: 16px;
        transform: skewX(-5deg);
        // border-radius: 8px;
        border: 6px solid #12726c;
        &::before {
            content: "";
            position: absolute;
            // inset: 0;
            // width: 100%;
            // height: 100%;
            // background: white;
            // z-index: -1;
        }
        ul {
            transform: skewX(5deg);
            --icon-space: 1.3em;
            list-style-type: none;
            padding: 0;
            li {
                padding-left: var(--icon-space);
                border-bottom: 1px solid #47bab3;
                width: 75%;
                padding-bottom: 2px;
                margin-bottom: 8px;
                @media screen and (max-width:766px) {
                    width: 100%;
                }
                &::before {
                    content: '\f05d';
                    // font-size: var(--icon-space);
                    font-family: 'FontAwesome';
                    color: #47bab3;
                    display: inline-block;
                    margin-left: calc( var(--icon-space) * -1 );
                    width: var(--icon-space);
                }
            }
        }
    }
}