.spbklu {
  .bg {
    position: absolute;
    inset: 0;
    width: 100%;
    padding: 0;
    height: 100%;
    @media screen and (max-width:766px) {
      height: 45%;
      inset: initial;
      bottom: 180px;
      left: 0;
      right: 0;
    }
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient($blue, rgba($blue,.7), $blue);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
    .semua {
        position: absolute;
        bottom: 60px;
        left: 50%;
        width: 85%;
        transform: translate(-50%,0);
        // right: 0;


        
        @keyframes neon {
            0%, 100% {
                filter: drop-shadow(0 0 0.75rem red);
              
            }
            50% {
                filter: initial;
              
            }
          }
        .mobil {
            width: 35vw;
            height: auto;
            filter: initial;
            animation: neon 1s linear infinite;
            @media screen and (max-width:766px) {
                width: 100vw;
                position: absolute;
                bottom: 15%;
                left: -50%;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        @keyframes MoveUpDown {
            0%, 100% {
              bottom: 60%;
            }
            50% {
              bottom: 65%;
            }
          }

          @keyframes MoveUpDownmob {
            0%, 100% {
              height: 50vh;
            }
            50% {
              height: 55vh;
            }
          }
        .isi {
          position: absolute;
          bottom: -27vh;
          width: 100%;
          height: 80vh;
          left: -23vw;
          @media screen and (max-width:766px) {
            position: absolute;
            bottom: -20vh;
            width: 80%;
            height: 80vh;
            left: 13vw;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        .motor {
          position: absolute;
          bottom: 0;
          width: 60%;
          height: 50vh;
          animation: neon 1s linear infinite;
          @media screen and (max-width:766px) {
            left: 30vw;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        .bateraix {
            position: absolute;
            bottom: 60%;
            animation: MoveUpDown 2s linear infinite;
            // right: 15%;
            left: 50%;

            width: auto;
            height: auto;
            @media screen and (max-width:766px) {
                width: 35vw;
                height: 50vh;
                bottom: 75%;
                left: 65%;
                animation: MoveUpDownmob 1s linear infinite;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .panah {
            position: absolute;
            left: 30%;
            width: 20%;
            bottom: 50%;
            height: auto;
            @media screen and (max-width:766px) {
                position: absolute;
                left: 30%;
                width: 47%;
                bottom: 100%;
                height: 33vh;
                transform: rotate(-16deg);
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}