.sumber {
    // background: linear-gradient(to bottom, #ebf8e5, $blue);
    // background: $blue;
    background: #ebf8e5;
    min-height: 50vh;
    // min-height: auto;
    border-top: 1px solid $blue;
    .img {
        width: 240px;
        height: auto;
        margin: 0 auto;
        @media screen and (max-width:766px) {
            width: 150px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;

        }
    }
}

$greenx: #99d871;
.credit {
    // background: #b4e8e4;
    background: linear-gradient(to bottom, $greenx, $blue);
    min-height: auto;
    .testx {
        position: absolute;
        // display: none;
        left: 0;
        right: 0;
        top: -16vh;
        width: auto;
        height: 40%;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .bg {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        // width: 100%;
        height: auto;
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(to top, $greenx, rgba($greenx,.7), $greenx);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    h3 {
        font-size: 2rem;
        &::before {
            top: 10px !important;
        }
    }
    .titled {
        color: #535353;
    }
    .name {
        font-weight: bold;
    }
}