.sumber {
    // background: linear-gradient(to bottom, #ebf8e5, $blue);
    // background: $blue;
    background: #ebf8e5;
    min-height: auto;
    border-top: 1px solid $blue;
    .img {
        width: 240px;
        height: auto;
        margin: 0 auto;
        @media screen and (max-width:766px) {
            width: 150px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;

        }
    }
}

.credit {
    background: #94e6e0;
    .titled {
        color: #535353;
    }
    .name {
        font-weight: bold;
    }
}